@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

@import "tailwindcss";

body {
  font-family: "Roboto Mono", serif;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background-color: #2b2b2b3b;
}
